NODE_ENV=development
DATABASE_URL="postgresql://buta:buta_dev_password@localhost:5432/buta?schema=public"

REDIS_HOST=localhost
REDIS_PORT=6379

S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=butaadmin
S3_SECRET_KEY=butaadmin123
S3_BUCKET_VIDEOS=buta-videos
S3_BUCKET_THUMBNAILS=buta-thumbnails
S3_PUBLIC_URL=http://localhost:9000

FFMPEG_PATH=ffmpeg
WORK_DIR=./tmp
CONCURRENCY=2
